@import url('http://fonts.googleapis.com/css?family=Roboto:400,200,300');
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
/** Global Theme Style **/
body {
  background-color: #F4F4F4;
  font-family: 'Roboto', sans-serif;
}
body header {
  background-color: #343434;
}
body header a.brand {
  font-size: 2em;
  color: white;
}
body header nav div ul {
  display: inline-block;
}
body header nav div ul li {
  float: left;
}
body .breadcrumb {
  background-color: transparent;
  padding: 5px;
  border-radius: 0px;
  margin: 0;
}
body .breadcrumb > li + li:before {
  content: ">\00a0";
}
body main {
  min-height: 1000px;
}
body main section {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 3px #D6D3CB;
  border-radius: 3px;
  padding: 5px;
  margin: 0 0 15px 0;
}
.row {
  margin: 0;
}
.table {
  margin-bottom: 0;
}
.unstyled {
  list-style: none;
  margin-left: -10px;
}
i.fa-thumbs-up {
  color: green;
}
i.fa-thumbs-down {
  color: red;
}
/** Page Styles **/
body .page-heading {
  background-color: #428BCA;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 50%, transparent 5%, transparent 100%);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 50%, transparent 5%, transparent 100%);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 50%, transparent 5%, transparent 100%);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 50%, transparent 5%, transparent 100%);
  display: flex;
  padding: 5px;
}
body .page-heading .left {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
  font-weight: 100;
  padding: 0;
}
@media (min-width: 992px) {
  body .page-heading .left {
    float: left;
    width: 83.33333333333334%;
  }
}
body .page-heading .left a {
  color: white;
}
body .page-heading .left small {
  font-size: 14px;
  font-weight: 300;
}
body .page-heading .right {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0 5px;
}
@media (min-width: 992px) {
  body .page-heading .right {
    float: left;
    width: 16.666666666666664%;
  }
}
/** Off Canvas Menu **/
body #outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}
body #inner-wrap {
  position: relative;
  width: 100%;
}
body header .nav-btn {
  display: none !important;
}
@media (min-width: 768px) {
  body header .nav-btn {
    margin-left: 10px;
  }
}
@media (max-width: 992px) {
  body header .nav-btn {
    display: block !important;
  }
  .phpdebugbar {
    display: none !important;
  }
  #nav {
    position: absolute;
    top: 0;
  }
  #nav:not(:target) {
    z-index: 1;
    height: 0;
  }
  #nav:target .close-btn {
    display: block;
  }
  #nav .close-btn {
    position: absolute;
    top: -3.75em;
    left: 1.875em;
  }
  #nav .block {
    position: relative;
    padding: 0;
  }
  #nav li {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li.is-active:after {
    z-index: 50;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: -0.03125em;
    margin-top: -0.625em;
    border-top: 0.625em transparent solid;
    border-bottom: 0.625em transparent solid;
    border-right: 0.625em white solid;
  }
  #nav li a {
    padding: 0.85714em 2.14286em;
  }
  .navbar .nav > li ul,
  .navbar .nav > li.dropdown ul {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    padding-left: 0;
  }
  .navbar .nav > li > a,
  .navbar .nav > li.dropdown > a,
  .navbar .nav > li > a:hover,
  .navbar .nav > li.dropdown > a:hover {
    padding-left: 0;
  }
  .navbar .nav > li > ul:before {
    border: none;
  }
  #nav {
    z-index: 200;
    position: fixed;
    overflow: hidden;
    width: 100%;
    color: #fff;
  }
  #nav .close-btn {
    display: none;
  }
  #nav .block-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav .block {
    z-index: 2;
    position: relative;
    padding: 0.75em 1.25em;
    background: #333333;
  }
  #nav ul {
    *zoom: 1;
    display: block;
  }
  #nav ul:before,
  #nav ul:after {
    content: "";
    display: table;
  }
  #nav ul:after {
    clear: both;
  }
  #nav li {
    display: block;
  }
  #nav li a {
    display: block;
    color: #ccc;
    font-size: 0.875em;
    line-height: 1.28571em;
    font-weight: bold;
    outline: none;
  }
  #nav li a:focus,
  #nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
  }
  #nav li.is-active a {
    color: #fff;
  }
  .js-ready #nav {
    height: 100%;
    width: 70%;
    background: #2C3E50;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }
  .js-ready #nav .block {
    background: transparent;
  }
  .js-ready #nav .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
  .js-ready #nav .close-btn:focus,
  .js-ready #nav .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  .js-ready #nav {
    left: -70%;
  }
  .js-ready #inner-wrap {
    left: 0;
  }
  .js-nav #inner-wrap {
    left: 70%;
  }
  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  }
  .csstransforms3d.csstransitions.js-ready #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  .csstransforms3d.csstransitions.js-nav #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
